.markdown {
  p,
  ul,
  ol {
    @apply mb-4;
  }

  ul li,
  ol li {
    @apply mb-4;
  }

  ul {
    @apply list-disc pl-4;
  }

  ol {
    @apply list-decimal pl-4;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-bold text-gray-900 my-6;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }

  p {
    @apply text-base tracking-wide leading-relaxed text-gray-800;
  }

  a {
    @apply text-blue-500;

    &:hover {
      @apply text-blue-700;
    }
  }

  code {
    @apply bg-gray-codeblock text-gray-100 !important;
    @apply rounded p-4 block mb-4 font-mono text-sm leading-code overflow-x-auto scrolling-touch;
  }

  mark {
    @apply bg-yellow-300 px-2;
  }

  dl {
    dt {
      @apply text-black text-sm font-sans font-bold uppercase mb-2;
      + dd {
        @apply mb-4 pl-2;
      }
    }
    dd {
      @apply mb-4;
    }
  }

  blockquote {
    @apply mb-4 text-center;

    p {
      @apply mb-0 text-sm text-gray-600;
    }
  }

  hr {
    @apply h-px bg-gray-300 my-8;
  }

  img {
    @apply w-full;
  }

  .image {
    @apply my-20;
  }
}

@screen sm {
  .markdown {
    blockquote {
    }
    h1 {
      @apply text-4xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-3xl;
    }
    h4 {
      @apply text-2xl;
    }
    h5 {
      @apply text-xl;
    }
    h6 {
      @apply text-base;
    }
  }
}

.post-cover {
  &::after {
    @apply absolute w-full h-48 left-0 bottom-0 z-0;
    content: "";
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  &.fullscreen::after {
    @apply h-full;
    background: rgba(0, 0, 0, 0.15);
  }
}

code[class*="language-"],
pre[class*="language-"] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  color: #eee;
  background: #2f2f2f;
  font-family: Roboto Mono, monospace;
  font-size: 1em;
  line-height: 1.5em;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"] ::-moz-selection {
  background: #363636;
}

code[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"] ::selection {
  background: #363636;
}

:not(pre) > code[class*="language-"] {
  white-space: normal;
  border-radius: 0.2em;
  padding: 0.1em;
}

pre[class*="language-"] {
  overflow: auto;
  position: relative;
  margin: 0.5em 0;
  padding: 1.25em 1em;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
  color: #fd9170;
}

[class*="language-"] .namespace {
  opacity: 0.7;
}
