/*! purgecss start ignore */
@import 'tailwindcss/base';
/*! purgecss end ignore */

@import 'components/resets';

@import 'tailwindcss/components';

@import 'components/markdown';

@import 'tailwindcss/utilities';

@import 'highlight.js/styles/atom-one-dark.css';

html {
    min-height: 100%;
}

a, a:link {
    transition: all .2s;
}

 .markdown a {
    text-decoration: underline;
    text-decoration-color: #38b2ac;
    text-decoration-skip-ink: auto;
}

#app{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1; /* Or flex-grow: 1;*/
}